body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand span {
    font-family: 'Open Sans', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.noticeboard {
    background-color: #f8f9fa;
}

.section {
    padding: 60px 0;
}

footer {
    background-color: #343a40;
}

footer a {
    color: #ffc107;
}

.social-icons .nav-link {
    color: #495057;
    transition: color 0.3s ease;
}

.social-icons .nav-link:hover {
    color: #0056b3;
}


/* Footer Styling */
.footer {
    background-color: #f5f5f5; /* Optional: Set a background color */
  }
  
  .footer .text-dark {
    color: #212529; /* Adjust text color for better contrast */
  }
  
  .footer a {
    text-decoration: none; /* Remove underline from links */
  }
  
  .footer a:hover {
    color: #007bff; /* Add hover effect for links */
  }
  
  .footer .fa-envelope,
  .footer .fa-phone-alt,
  .fa-map-marker-alt {
    margin-right: 5px;
  }
  
  /* Optional: Center newsletter signup form */
  .footer .d-flex {
    justify-content: center;
  }


  